<div class="container-fluid noPadding lgMarginTop">
    <div *ngIf="!validToken" class="greenBackground col-xs-12 col-sm-8 col-sm-offset-4 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
        <h3>{{ content }}</h3>
    </div>
    <div *ngIf="validToken" class="greenBackground col-xs-12 col-sm-8 col-sm-offset-4 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
        <form [formGroup]="form" (ngSubmit)="resetPwd(form)">
            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" [class.has-error]="password.touched && password.invalid">
                <label for="password">PASSWORD</label>
                <input [type]="pwdEyeOpen ? 'text' : 'password'" class="form-control" id="password" formControlName="password" [placeholder]=" password.touched && password.invalid && password.errors.required ? 'Password is required.*' : 'Password' ">
                <span class="glyphicon glyphicon-eye-open" *ngIf="password.value !== '' && !pwdEyeOpen" (click)="pwdEyeOpen = true"></span>
                <span class="glyphicon glyphicon-eye-close" *ngIf="pwdEyeOpen" (click)="pwdEyeOpen = false"></span>
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" [class.has-error]="conPassword.touched && conPassword.invalid">
                <label for="conPassword">CONFIRM PASSWORD</label>
                <input [type]="conPwdEyeOpen ? 'text' : 'password'" class="form-control" id="conPassword" formControlName="conPassword" [placeholder]=" conPassword.touched && conPassword.invalid && conPassword.errors.required? 'Confirm Password is required.*' : 'Confirm Password' ">
                <span class="glyphicon glyphicon-eye-open" *ngIf="conPassword.value !== '' && !conPwdEyeOpen" (click)="conPwdEyeOpen = true"></span>
                <span class="glyphicon glyphicon-eye-close" *ngIf="conPwdEyeOpen" (click)="conPwdEyeOpen = false"></span>
                <div *ngIf="conPassword.valid && form.invalid && form.errors.passwordsShouldMatch" class=" alert alert-danger "> Passwords do not match. </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                <button class="btn btn-primary smMarginTop " [disabled]="!form.valid ">SUBMIT</button>
            </div>
            <div class="col-xs-12 col-sm-8 col-sm-offset-4 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3" *ngIf="isSuccess">
                <div class="alert alert-success">Password resetting done successfully.</div>
            </div>
        </form>
    </div>
</div>