<div class="container-fluid ipadFix greenBG">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 noPadding smMarginTop MarginLeftHome">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 noPadding">
                <h1 class="fontBold purpleColor">Live Webcast </h1>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 noPadding purpleColor textJustify homePara">
            <h3 class="lapMLeft">Coming to you LIVE on July 2nd at 11:45 a.m. CET</h3>
        </div>
    </div>
</div>
<div class="fLeft mdPadddingAll footerDiv">

    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2 noPadding smMarginTop">
            Sponsored by
            <img class="img-responsive" src="assets/images/logo.png" alt="footer logo" width="130px">
        </div>
        <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 smMarginTop">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 noPadding ">
                <p class="purpleColor">PRIVACY AND COOKIE POLICY | TERMS OF USE</p>
                <p>This is an international website intended for Healthcare Professionals (HCPs) outside the US and Canada. The information on this site contains educational material. © Merck KGaA, Darmstadt, Germany</p>
            </div>
        </div>
    </div>
</div>