<div class="container-fluid noPadding ipadFix">
    <div class="bigImg fLeft visible-md visible-lg "></div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 topBar"></div>
   
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 noPadding mdMarginLeftD">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 noPadding smTopM">
                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 noPadding">
                    <img class="img-responsive" src="assets/images/live.png" alt="live webcast">
                </div>
                <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
                    <h4 class="fontBold purpleColor">Monday, July 2nd 2018</h4>
                    <h4>11:45 - 13:00 (CET)</h4>
                    <h4 class="fontBold purpleColor">LIVE from ESHRE Conference Center</h4>
                    <h4>Barcelona, Spain</h4>
                </div>
            </div>
          
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h1 class="fontBold pinkColor">ESHRE 2018<br>
                    <span class="pinkColor">Merck</span>
                    <span class="purpleColor">Symposium</span>
                </h1>
            </div>
            <div class="col-xs-12 col-sm-11 col-md-8 col-lg-8 ">
                <h3 class="purpleColor fontBold lapMLeft">How to improve ART efficiency and risk management to shorten time to live birth</h3>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-10 noPadding mdPaddingTop lgMarginTopM">
                <div class="visible-lg col-lg-1"></div>
                <div class="col-xs-12 col-sm-11 col-md-2 col-lg-2 leftMargin">
                    <button class="signBtn fontBold" [value]="0" (click)="openPopup($event)">SIGN IN</button>
                </div>
                <div class="col-xs-12 col-sm-11 col-md-2 col-lg-2 smMarginTopM">
                    <button class=" signBtn2 fontBold" [value]="1" (click)="openPopup($event)">REGISTER</button>
                </div>
            </div>
        </div>
    </div>


    <div id="myModal" class="modal" *ngIf="isVisible" role="dialog">
        
        <div class="modal-dialog" role="document">
                <div class="closeP">
                        <button type="button" class="close" (click)="closePopup()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
            <div class="modal-content">
                <div class="modal-header noPadding">
                    <ul class="nav nav-pills bRadiusL">
                        <li class="" [class.active]="viewMode === 'signin'">
                            <a (click)="setViewMode('signin')">SIGN IN</a>
                        </li>
                        <li  [class.active]="viewMode === 'register'">
                            <a (click)="setViewMode('register')">REGISTER</a>
                        </li>
                    </ul>
                </div>
                <div class="modal-body">
                    <div [ngSwitch]="viewMode">
                        <div *ngSwitchCase="'signin'">
                            <app-login></app-login>
                        </div>
                        <div *ngSwitchCase="'register'">
                            <app-register></app-register>
                        </div>
                        <div *ngSwitchDefault>OtherWise</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<app-footer></app-footer>