<div class="container-fluid ipadFix greenBG">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mdMargintop">
        <h1 class="fontBold purpleColor ">SPEAKERS</h1>
    </div>

    <div style="width:100%"> <!-- wrap @img width -->
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="false">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
            <li data-target="#carousel-example-generic" data-slide-to="4"></li>
          </ol>
      
          <!-- Wrapper for slides -->
          <div class="carousel-inner vertical" role="listbox">
            <div class="item active col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mdMargintop">
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <img class="img-responsive" src="assets/images/Thomas_desk.png" alt="SPEAKERS">
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 marginTop25">
                        <h3 class="pinkColor">Merck KGaA: Thomas D’Hooghe </h3>
                        <h4 class="whiteColor">(Darmstadt, Germany)</h4>
                        <p>
                            Thomas D’Hooghe is a gynecologist with a subspecialty in reproductive medicine, and the Vice President and Head of Global Medical Affairs Fertility at Merck. He holds positions as Professor in Reproductive Medicine & Biology at University of Leuven, Belgium,
                            Professor Adjunct at Yale University Medical School, USA, and Editor in Chief of Gynecologic and Obstetric Investigation. Previously, he has been the Clinical and Academic Head of Reproductive Medicine from 1995 to 2015, and Fundamental
                            Clinical Investigator from 1998 to 2015 at Leuven University Hospitals, and served ESHRE, the Society for Reproductive Investigation and the World Endometriosis Research Foundation in senior leadership positions. Additionally, Thomas acted
                            as consultant for the WHO in the area of reproductive medicine and as Chairman of the International Advisory Board at Institute of Primate Research, Nairobi, Kenya. He has published around 300 original papers related to reproductive medicine.
                        </p>
                    </div>
                </div>
            </div>

            <div class="item col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mdMargintop">
                            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                <img class="img-responsive" src="assets/images/Ernesto_desk.png" alt="SPEAKERS">
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 marginTop25">
                                <h3 class="pinkColor">Ernesto Bosch </h3>
                                <h4 class="whiteColor">(Valencia, Spain)</h4>
                                <p>
                                    Ernesto Bosch is the Medical Director at IVI, Valencia, Spain. He also holds the position of Gynaecologist at IVI Clinic in Castellon and Clínica IVI in Gandía, Spain. He worked at the Reproduction Unit at La Fe Hospital in1998. He joined Obstetrics and
                                    Gynaecology Department of the La Ribera Hospital in Alzira in 1999 and moved to IVI Valencia to work as a Gynaecologist in 2000. He has over 26 articles published in international scientific journals and 40 book chapters. He was awarded
                                    by the American Society of Reproductive Medicine in 2000.
                                </p>
                            </div>
                        </div>
            </div>

            <div class="item col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mdMargintop">
                            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                <img class="img-responsive" src="assets/images/Sandro_desk.png" alt="SPEAKERS">
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 marginTop25">
                                <h3 class="pinkColor">Sandro Esteves</h3>
                                <h4 class="whiteColor">(San Paulo, Brazil)</h4>
                                <p>
                                    Sandro Esteves is the Clinical and Scientific Director of ANDROFERT, a Referral Fertility Center for male reproduction in Brazil. He also holds position as a Collaborating Professor at the Department of Surgery, Division of Urology at UNICAMP, Campinas,
                                    Brazil, and Honorary Professor of Reproductive Medicine at the Faculty of Health, Aarhus University, Denmark. He is a Research Collaborator at the Cleveland Clinic’s American Center for Reproductive Medicine USA and Genetic Unit, Department
                                    of Biology at Universidad Autónoma de Madrid, Spain. He holds an honorary title of Clinical Tutor in Urology at the University of Edinburgh, UK. He has published over 200 scientific papers in peer-reviewed journals, authored over 70 book
                                    chapters, and presented over 150 papers at both national and international scientific meetings.
                                </p>
                            </div>
                        </div>
            </div>
            <div class="item col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mdMargintop">
                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <img class="img-responsive" src="assets/images/Chen_desk.png" alt="SPEAKERS">
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 marginTop25">
                        <h3 class="pinkColor">Zi-Jiang Chen </h3>
                        <h4 class="whiteColor">(Shandong, China)</h4>
                        <p>
                            Zi-Jiang Chen is a Vice Dean at School of Medicine, Shandong University, China. She also holds various positions such as Director of Center for Reproductive Medicine, Vice President of Shandong Provincial Hospital, Chair and Professor of Department of
                            Obstetrics & Gynaecology at Shandong Provincial Hospital and Director of Center for Reproductive Medicine. She is also the Vice President of Renji Hospital at Shanghai Jiao Tong University School of Medicine. She has published more than
                            200 articles in journals such as National Genetics, Human Molecular Genetics, Fertility Sterility, Human Reproduction, etc. She was honoured with several awards such as National Science and Technology Progress Award, National Invention
                            Award, Outstanding Doctoral Dissertation Guidance Award, etc.
                        </p>
                    </div>
                </div>
                
            </div>
            <div class="item col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mdMargintop">
                            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                <img class="img-responsive" src="assets/images/Marcos_desk.png" alt="SPEAKERS">
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 marginTop25">
                                <h3 class="pinkColor">Marcos Meseguer</h3>
                                <h4 class="whiteColor">(Valencia, Spain)</h4>
                                <p>
                                    Marcos Meseguer is a Senior Embryologist at IVI Valencia. He also holds position as an Associate Professor in Reproductive Biotechnology at University of Valencia. He has guided six doctoral theses and is currently mentoring eight more doctoral students
                                    in Biotechnology at the same university. He has over 105 articles published in international journals, 50 book chapters, and 315 communications to international congresses. He has been honoured with many awards such as the ASEBIR Award,
                                    Robert Edwards Award from various international societies like the American Society of Andrology and the Spanish Fertility Society, etc.
                                </p>
                            </div>
                        </div>
            </div>
          </div>
      
          <!-- Controls -->
          <!-- <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a> -->
         <!--  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a> -->
        </div>
      </div>

   
</div>
<app-footer-sub></app-footer-sub>