

@font-face {
    font-family: 'merckregular';
    src: url('merck-webfont.woff2') format('woff2'),
         url('merck-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}