<div class="container-fluid noPadding ">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 topBar"></div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 smMarginTop">
<h1>WEBSITE TERMS OF USE</h1>
<h2>
    Terms of Use
</h2>
<p>
    Access to and use of this Web site are subject to the following conditions. Should you disagree with these conditions, we must ask you not to use this Web site. By using this Web site, you declare that you are using Web site and its content at your own risk.
</p>
<h2>
    Exclusion of liability
</h2>
<p>
    Merck KGaA, Darmstadt, Germany, has compiled the content of this Web site carefully and in accordance with its current state of knowledge.<br />
    <br/>However, we give no warranty, either expressly or tacitly, for the completeness or correctness of the details provided on this Web site. Please be aware, in particular, that the details we provide may no longer be up-to-date. Access to and use of this Web site and of any associated sites or sites connected via links take place at the user’s own risk. We accept no liability for loss, damage or compensation claims due to missing or incorrect details.
</p>

<h2>
    Legal notes
</h2>
<p>
    This Web site is operated by Merck KGaA in Darmstadt, Germany. All rights to the Web site or arising from the same shall remain with Merck KGaA, Darmstadt, Germany.<br />
    <br/>Merck KGaA, Darmstadt, Germany, may modify this Web site and/or discontinue its operation at any time without prior announcement, either wholly or in parts, at its own discretion and without accepting liability. Neither is Merck KGaA, Darmstadt, Germany, under an obligation to update the content of this Web site.<br />
    <br/>Unless otherwise indicated, all details, documents and presentations published on our Web site are under the sole ownership of Merck KGaA in Darmstadt, Germany. Unless written consent has been obtained from Merck KGaA, Darmstadt, Germany, (Corporate Communications Department), no permission is given to import published and copyrighted content from our Web site to other programs or Web sites or to use such content in any other way.<br />
    <br/>International users must observe the special provisions under local legislation. Users in the United States are subject to the conditions of use for the Web sites of our U.S. companies.
</p>
<h2>
    Personal data
</h2>
<p>
    Merck KGaA, Darmstadt, Germany, is particularly concerned to ensure the protection of your personal data. You will find information on the use of personal data in the Privacy and Cookie Policy.
</p>

<h2>
    Effect on our Terms and Conditions of Sale
</h2>
<p>
    Unless express otherwise specified in writing, the Terms and Conditions of Sale of Merck KGaA, Darmstadt, Germany, are not affected by the Web site, its content, material or details.
</p>
</div>
</div>