<div class="container-fluid noPadding">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 topBar"></div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 smMarginTop">
        <h1>
            Privacy Policy
          </h1>
          <p>
            This website is operated by Merck KGaA („Merck“, "us" or "we"). Further details can be found in the imprint.
          </p>
          <p>
            With this data protection declaration we explain to you which personal data is processed for which purposes. [Certain sections contain a field with "more details" where you can call up additional information.]
          </p>
          <h2>
            1. Which data do we process and for which purpose?
          </h2>
          <p>
            a) When do we collect which categories of personal data?
          </p>
          <p>
            aa) Registering and Log-in<sup>1</sup>:<br />
            As the information we provide on this website is legally restricted to qualified healthcare personnel, we require you to register and log-in to access our website. In order to register we collect your name, your email address and phone number, your profession, therapeutic area and address where you work.
          </p>
          <p>
            bb) Data we collect when interacting with you (offline and online)<br />
            We collect data you communicate to us such as when you order information or samples, have a request, talk to our sales representatives or register for one of our events and our experience from previous meetings and collaborations as well as data from socioeconomic analyzes.<sup>2</sup><br /><br/>
            If you gave your consent, we also collect data about your online behavior on our websites or apps (which websites you visited, which links you clicked on) and when using our emails (if you open our emails, which links you clicked on etc.).<sup>3</sup>
          
          </p>
          <p>
            cc) Public sources and third parties<br />
            We also collect data from publicly available sources and third parties such as websites to collect data about publications, expertise and your track record.<sup>4</sup>
          </p>
          <p>
            dd) Browsing data (not connected to users)<br />
            We also collect browsing data which we do not connect to users. The data we collect include the name of the internet service provider, the website from which you access our website, the Merck websites which you looked at, temporarily your full IP address and the date and duration of your visit.<sup>5</sup>
          </p>
          <p>
            b) Purposes of data use
          </p>
          <p>
            aa) Providing you with services you requested<br />
            We use your data to provide you access to our website and to services that you requested such as giving you access to our materials, answering questions about our products or sending you newsletters based on your selections.6 We can also individualize the content based on the information we collected about you.<sup>7</sup>
          </p>
          <p>
            bb) Providing you information that may interest you<br />
            We aim to present you only information that could be of interest to you and to communicate seamlessly over various channels without sending redundant information. Our communication with you is based on the information we collected about you and are permitted to use.<br />
            <br/>For example, if you published articles about a certain therapeutic area, we may invite you to attend to a related congress as a speaker or participate in a clinical trial. Based on the information we collected, we may internally indicate that you are interested in certain categories of information.<sup>8</sup><br />
            <br/>When doing this, we will always respect your wishes like your choice to receive our newsletter emails and if you objected or did not consent to the use of your data for such marketing-related purposes.
          </p>
          <h2><b><em>Further information:</em></b></h2>
          <p>
            We only wish to provide you with information about our product and service offerings, such as products, news and services which we believe are beneficial to you. For this reason, we collect and analyze your personal data in order to learn more about you and your professional activities and interests. We do this only unless you objected or, where required, if you gave your consent. That includes data from:
          </p> <ul>
                <li>
                    Interactions with you, e.g. via a call center, a representative or a third party or feedback you gave us, e. g. through a survey.
                </li>
                <li>
                    Events you attended, such as medical congresses, training events or peer-to-peer meetings.
                </li>
                <li>
                    Online behavior, i.e. data about your activities when you visit our website, such as pages visited, clicks, downloaded materials, open emails (if you consented).
                </li>
                <li>
                    Possible requests from you, e. g. for advertising material, samples or a sales representative visit.
                </li>
            </ul>
            <p>
            How to select when and how to contact you?<br />
            <br/> We provide you information via various channels such as e mails, letters, calls, our website or otherwise. It is our aim not to provide you with redundant information. Therefore, we combine available communication channels (according to your communicated preferences) and provide information based on your personal information.<br />
            <br/>When selecting the information we communicate to you, we use software tools to analyse the available data to create different groups of recipients who receive different types of information.<br />
            <br/>An example: If you publish in the field of oncology research and request materials with information on the latest research, we assume you are interested in learning more about those therapies so we may provide you with additional materials or may invite you to participate in a clinical trial.
          </p>
          <p>
            cc) Legal obligations and legal enforcement<br />
            In some cases we are under a legal obligation to process personal data. A typical example is the processing within the scope of the so-called pharmacovigilance, i.e. the obligation to investigate and share data when potential side effects of drugs become known.<sup>9</sup><br />
            <br/>Where required, we can also use your data to enforce our third party rights (such as copyright infringements).<sup>10</sup>
          </p>
          <h2>
            2. Cookies and Analytics
          </h2>
          <p>
            a) Cookies:
          </p>
          <p>
            We use cookies in order to enable and facilitate the use of the website (e.g. to optimize the presentation or display of country-specific content (e.g. in your national language)). This concerns the following categories of cookies:
          </p> <ul style="list-style-type:none;margin:0;">
                <li>
                    &#45; cookies that optimize the presentation or display of country-specific content (e.g. in your national language),
                </li>
                <li>
                    &#45; cookies that help us to remember your settings,
                </li>
                <li>
                    &#45; web audience cookies (Google Analytics or Adobe, see below).<sup>13</sup>
                </li>
            </ul><br /><p>
            You can disable or block cookies in your browser software; however, this may result in restrictions regarding the usability of this website. In addition to cookies, we also use other web technologies such as pixel tags, web beacons or clear GIFs (hereinafter also referred to as "cookies") for the purposes specified above.
          </p>
          <h2><b><em>Further information:</em></b></h2>
          <ul>
            <li>
                “Cookies" are small text files that enable our website(s) to store information on your computer and retrieve it later (e.g. when you visit our website again later). The use of cookies, for example, enables our websites to "remember" the language in which we are allowed to present our content to you.
            </li>
            <li>
                A distinction is made between required cookies, i.e. cookies that are necessary for technical reasons (e.g. in order to implement a login area) and analytical cookies, i.e. cookies that are used for the purpose of measuring the online audience (see GOOGLE ANALYTICS/ADOBE ANALYTICS)
            </li>
          </ul>
          <p>
            b) Google Analytics:
          </p>
          <p>
            This website uses Google Analytics, a web analysis service provided by Google Inc. ("Google") to store "analytical cookies" on your device.14 This means that information about users and the use of our website is transmitted to Google and processed on our behalf for the purpose of compiling reports on website activity, measuring website visits and visitors and providing similar services for us. This includes the transmission of your IP address, but it will not be merged with other Google data. In addition, your IP address is shortened (usually within the European Union) and saved by Google only in an abridged form. For data storage in the United States, Google's self-certification according to the Privacy Shield provides an appropriate level of data protection.
            <br />
            <br/> You can object to the processing of your data for these purposes by installing a browser plugin (http://tools.google.com/dlpage/gaoptout?hl=de) and you can activate it by following this link: Google Analytics deaktivieren.
          </p>
          <h2><b><em>Further information:</em></b></h2>
          <p>
            The following information will be transmitted and processed: Information about the terminal devices used (e.g. operating system, device type, browser, screen resolution), about the origin of our users (for instance, language as well as city and country the user of the website is from and the website via which the user reached us, IP address) and the use of our websites (e.g. our Merck website which have been opened and the content accessed as well as the date and duration of the visit).
          </p>
          
          <h2>
            3. Recipients of personal data; data transfer to third countries
          </h2>
          <p>
            a) Adverse events or enforcement of rights:
          </p>
          <p>
            If we become aware of potential cases of adverse reactions to one of our products, we are required by law to document and share the relevant information, including personal information with authorities worldwide and, where necessary for further assessment, to contact the reporting parties.
            <br />
            <br/>In order to enforce our rights or to protect our rights or the rights of third parties with the holders of such rights, consultants and authorities.
          </p>
          <p>
            b) External service providers for data processing:
          </p>
          <p>
            We use service providers which support us to provide our services. These service providers process data only in accordance with the instructions and under the control of Merck and exclusively for the purposes described in this privacy policy.
          </p>
          <p>
            c) Data transfer to the Merck group companies
          </p>
          <p>
            "As part of a global group of companies, we involve other Merck companies that support us in hosting and administration. These group companies process the data solely for the purposes set out in this Privacy Notice."
          </p>
          <h2>
            4. Data Retention
          </h2>
          <p>
            We store data for as long as necessary for the provision of the service requested by you. For example, when you subscribe to a newsletter we will store the associated data at least until you unsubscribe. Based on the information we collected, we may internally indicate that you are interested in certain categories of information. This information will be kept and updated as long as we consider engaging with you. Information like which seminars you visited or which materials you downloaded will be kept for 10 years.
            <br />
            <br/> Data which is collected while browsing our website and which can legally be considered personal data (such as the complete IP address) is stored for a period of time of 14 days, unless a reasonably justified incident indicates a longer storage period (e.g. due to a hacking attack).<br/>
            <br/> Data without any personal identifiable information may be stored permanently.
          
          </p>
          <h2>
            5. Data protection rights and contact
          </h2>
          <p>
            a) General rights:
          </p>
          <p>
            You can request information about the data stored about you and have the right to receive the data provided by you in a common and machine-readable format. Furthermore, in justified cases, you may also request the deletion, correction or limitation of the processing of your data. If your personal data is transferred to a country outside the EU which does not provide appropriate protection, you can request a copy of the contract that implements the appropriate protection of personal data.
          </p>
          <p>
            b) Right to object:
          </p>
          <p>
            Furthermore, in justified cases you can <b>object to the processing of personal data concerning you</b> where we process your personal data based on our legitimate interest (this is the case if the legal basis is Art. 6 f) GDPR as indicated in the footnotes). This applies in particular to the collection of your data for statistical measurement of the web audience by GOOGLE ANALYTICS OR ADOBE ANALYTICS.
          </p>
          <p>
            c) Revocation of your consent:
          </p>
          <p>
            When you have given your consent to the processing of personal data concerning you on the website, you can revoke your consent at any time with effect for the future.
          </p>
          <p>
            d) Contact person:
          </p>
          <p>
            To exercise these rights, please contact our data protection officer:
          </p>
          <p>
            Merck KGaA<br />
            Group Data Privacy Office<br />
            Frankfurter Straße 250<br />
            64293 Darmstadt, Germany.
          </p>
          
          
          <p>
          
            In addition, and in case of concerns, you can also contact the competent data protection authority which is for Merck KGaA:
          </p>
          
          <p>
            Der Hessische Datenschutzbeauftragte<br />
            Postfach 3163<br />
            65021 Wiesbaden, Germany.<br /><br />
            Data protection declaration as of: 23-05-2018
          </p>
    </div>
</div>